<div class="wrapper">
    <div id="header">
        <div class="left_header">
            <div class="logo">
                <img src="/assets/img/Logo_LTMCB.png" alt="logo" >
            </div>
        </div>
        
        <div class="right_header">
                <div class="ava">
                    <img src="/assets/img/Avatar_header.jpg" alt="" >
                </div>
                <div class="indexer" >
                    <div class="nav">
                        <p class = "username" id = "username">
                            {{username}}
                            <i class="nav-arrow-down fa-solid fa-angle-down" onclick="icon_arrow(this)"></i>
                        </p>
                        <div class="subnav" id = "subnav">
                            <div class="background">
                                <a href="/profile">
                                    <div class="profile">HỒ SƠ</div>
                                </a>
                                <form action="/home/logout" method="post">
                                    <button type ="submit" class="signout">ĐĂNG XUẤT</button>
                                </form>
                            </div>
                            
                        </div>                      
                    </div>                            
                </div>

        </div>
    </div>


    <div id="content">
        <div class="container-btn">
            <div class="menubtn">
                <ul>
                    <li id = "cd_thuong">CHẾ ĐỘ THƯỜNG</li>
                    <li id = "cd_xep_hang">CHẾ ĐỘ XẾP HẠNG</li>
                    <li><a href="#ldtest" >BẢNG XẾP HẠNG</a></li>
                </ul>
            </div>

            <div class="button">
                <img src="/assets/img/convitdj.png"  alt="Speaker" class="speaker">
                <a href="/playsingle?mode=hard" class="play-button-link">
                    <div class="play-button-wrapper">
                        <span class="play-button-label">Chơi</span>
                    </div>
                </a>

            </div>
        </div>


        <div id="footer">
            <div class="menu_btn">
                    <button type="submit" class="menu_btn_btn" >
                        <a href="/setting" class="menu_btn_dt">
                            <i class="fa-solid fa-gear"></i>
                            <span><b>CÀI ĐẶT</b></span>
                        </a>
                    </button>
                    <button class="menu_btn_btn" id="btnHelp">
                        <div class="menu_btn_dt">
                            <i class="fa-solid fa-book"></i>
                            <span><b>HƯỚNG DẪN</b></span>
                        </div>
                    </button>
            </div>
            <div class="para"><b>Một sản phẩm của Nhóm 11</b></div>
        </div>

    </div>

    

    <div class="modal_thuong" id ="team_modal_thuong">

        <div class="select_normal_mode_body">

            <div class="select_normal_mode_header">
                <div class="select_normal_mode_return">
                    <span class = "return_thuong">TRỞ LẠI</span>
                    <div class="select_normal_mode_information">
                        <img src="/assets/img/Avatar_header.jpg" alt="Avatar" class="avatar">
                        <div class="information">
                            <div class="username">
                                {{username}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="select_normal_mode_img">
                <div class="select_normal_mode_img_Heaven">
                    <img src="/assets/img/Heaven.jpg" alt="Heaven" class="Heaven"> 
                </div>

                <div class="select_normal_mode_img_Hell">
                    <img src="/assets/img/Gates_Of_Hell.png" alt="Gates_Of_Hell" class="Hell">
                </div>

                <div class="select_normal_mode_img_Waste_land">
                    <img src="/assets/img/Waste_land.jpg" alt="" class="Waste_land">
                </div>
            </div>
            <form action="/playsingle" method="get">
            <div class="select_normal_mode_radio">
                <label  class="container" id="mode_hard">Khó
                    <input type="radio"  name ="mode" value="hard" checked="checked" >
                    <span class="checkmark"></span>
                </label>

                <label  class="container">Địa ngục
                    <input type="radio" name ="mode" value="hell">
                    <span class="checkmark"></span>
                </label>
                
                <label class="container" id="mode_no_hope">Tuyệt vọng
                    <input type="radio" name ="mode" value="no hope">
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="select_normal_mode_play_button">
                <button type="submit" class="playclick" href="/playsingle"><b>Chơi</b></button>
            </div>

            </form>
        </div>

    </div>

    <div class="modal_xep_hang" id ="team_modal_xep_hang">

        <div class="select_rank_mode_body">

            <div class="select_rank_mode_header">
                <div class="select_rank_mode_return">
                    <span class = "return_xep_hang">TRỞ LẠI</span>
                    <div class="search_room">
                        <form action="/home/search" method="post">
                            <div class="find_roomid">
                                <input type="text" id="input_roomid" name="roomID" placeholder="Mã phòng" oninput="hideWarningroom()">
                                <button class="find" type="submit">
                                    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                                </button>
                            </div>
                            {{#if full}}
                                <script>
                                    document.getElementById("team_modal_xep_hang").style.display = "flex";
                                    document.querySelector(".Warningroom").style.display = "flex";
                                    function hideWarningroom()
                                    {
                                        document.querySelector(".Warningroom").style.display = "none";
                                    }
                                </script>
                                <div class="Warningroom"> 
                                    <i class="fa-solid fa-circle-exclamation" id="error_ex"></i>
                                    <div class="fullroom">{{full}}</div>
                                </div>
                            {{/if}}
                            {{#if Notfound}}
                                <script>
                                    document.getElementById("team_modal_xep_hang").style.display = "flex";
                                    document.querySelector(".Warningroom").style.display = "flex";
                                    function hideWarningroom()
                                    {
                                        document.querySelector(".Warningroom").style.display = "none";
                                    }
                                </script>
                                <div class="Warningroom">
                                    <i class="fa-solid fa-circle-exclamation" id="error_ex"></i>
                                    <div class="notfoundroom">{{Notfound}}</div>
                                </div>
                            {{/if}}
                        </form>
                        
                    </div>
                    <div class="select_rank_mode_information">
                        <img src="/assets/img/Avatar_header.jpg" alt="Avatar" class="avatar">
                        <div class="information">
                            <div class="username">
                                {{username}}
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="select_rank_mode_center">

                <div class="select_rank_mode_img">
                    <img src="/assets/img/avatar.png" alt="" class="img">
                </div>

                <div class="select_rank_mode_center_center">

                    <div class="select_rank_mode_center_rank_point">
                        <div class="select_rank_mode_rank_img">
                            <img src="/assets/img/rank.png" alt="" class="rank_img">
                            <div class="select_rank_mode_rank">
                                <b>
                                {{#if (lt multipoint 1000)}}
                                Đồng
                                {{else}}
                                    {{#if (lt multipoint 2400)}}
                                    Bạc
                                    {{else}}
                                        {{#if (lt multipoint 4000)}}
                                            Vàng
                                        {{else}}
                                            {{#if (lt multipoint 6000)}}
                                                Bạch Kim
                                            {{else}}
                                                {{#if (lt multipoint 8000)}}
                                                    Kim Cương
                                                {{else}}
                                                    {{#if (lt multipoint 12000)}}
                                                        Lục Bảo
                                                    {{else}}
                                                        Ruby Đỏ
                                {{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}
                                </b>
                            </div>
                            <img src="/assets/img/rank.png" alt="" class="rank_img">
                            
                        </div>

                        <div class="point_number">
                            <div class="point">
                                Điểm
                            </div>
                            <div class="number">
                                {{multipoint}}
                            </div>
                        </div>
                    </div>

                    <div class="select_rank_mode_button">
                        <button class="createclick" id="Roomcreate"><b>Tạo phòng</b></button>
                        <button class="playclick" id="play_now"> <b>Vào nhanh </b></button>
                    </div>
                </div>

                <div class="select_rank_mode_center_right_rank">
                    {{#if (lt multipoint 1000)}}
                                <img src="/assets/img/Bronze.png" alt="" class="rank">
                                {{else}}
                                    {{#if (lt multipoint 2400)}}
                                    <img src="/assets/img/Silver.png" alt="" class="rank">
                                    {{else}}
                                        {{#if (lt multipoint 4000)}}
                                            <img src="/assets/img/Gold.png" alt="" class="rank">
                                        {{else}}
                                            {{#if (lt multipoint 6000)}}
                                                <img src="/assets/img/Platinum.png" alt="" class="rank">
                                            {{else}}
                                                {{#if (lt multipoint 8000)}}
                                                    <img src="/assets/img/Diamond.png" alt="" class="rank">
                                                {{else}}
                                                    {{#if (lt multipoint 12000)}}
                                                        <img src="/assets/img/Emeral.png" alt="" class="rank">
                                                    {{else}}
                                                        <img src="/assets/img/Ruby.png" alt="" class="rank">
                                {{/if}}{{/if}}{{/if}}{{/if}}{{/if}}{{/if}}
                </div>

            </div>
            
        </div>

    </div>

    <div class="modal_create_room" id="team_modal_create_room">
        <div class="create_room_body">
            <div class="create_room_header">
                <div class="create_room_return">
                    <span class = "return_create_room">TRỞ LẠI</span>
                </div>
            </div>

            <form action="/home/roomcreate/" method="post" id="create_room" onsubmit="return disable('create_play');">
                <div class="create_room_input">
                    <label for="Name">Số vòng chơi:</label><br>
                    <input type="text" id="round" name="roundNumber" placeholder="Số vòng" oninput="hideExceed()">
                </div>

                <div class="create_room_create">
                    <button class="create" id="create_play">Play</button>
                    
                </div>  
                {{#if exceed}}
                    <script>
                        document.getElementById("team_modal_xep_hang").style.display = "flex";
                        document.getElementById("team_modal_create_room").style.display = "flex";
                        document.querySelector(".Exceedroom").style.display = "flex";
                        function hideExceed()
                        {
                            document.querySelector(".Exceedroom").style.display = "none";
                        }
                    </script>
                    <div class="Exceedroom"> 
                        <i class="fa-solid fa-circle-exclamation" id="exceed_ex"></i>
                        <div class="exceed_value">{{exceed}}</div>
                    </div>
                {{/if}} 
                {{#if input_round}}
                    <script>
                        document.getElementById("team_modal_xep_hang").style.display = "flex";
                        document.getElementById("team_modal_create_room").style.display = "flex";
                        document.querySelector(".Warninground").style.display = "flex";
                        function hideExceed()
                        {
                            document.querySelector(".Warninground").style.display = "none";
                        }
                    </script>
                    <div class="Warninground"> 
                        <i class="fa-solid fa-circle-exclamation" id="exceed_ex"></i>
                        <div class="inputround">{{input_round}}</div>
                    </div>
                {{/if}}
            </form>
        </div>

    </div>
    <div class="modal_playnow_room" id = "team_modal_playnow_room">
        <div class="playnow_room_body">
            <div class="playnow_room_header">
                <div class="playnow_room_return">
                    <span class = "return_playnow_room">TRỞ LẠI</span>
                </div>
            </div>

            <form action="/home/playnow/" method="post" id="playnow_room" onsubmit="return disable('playnow_play');">
                <div class="playnow_room_input">
                    <label for="Name">Số vòng chơi:</label><br>
                    <input type="text" id="round1" name="roundNumber1" placeholder="Số vòng" oninput="hideExceed()">
                </div>

                <div class="playnow_room_create">
                    <button class="playnow" id="playnow_play">Play</button>
                </div>  
                {{#if exceed1}}
                    <script>
                        document.getElementById("team_modal_xep_hang").style.display = "flex";
                        document.getElementById("team_modal_playnow_room").style.display = "flex";
                        document.querySelector(".Exceedroom").style.display = "flex";
                        function hideExceed()
                        {
                            document.querySelector(".Exceedroom").style.display = "none";
                        }
                    </script>
                    <div class="Exceedroom"> 
                        <i class="fa-solid fa-circle-exclamation" id="exceed_ex1"></i>
                        <div class="exceed_value">{{exceed1}}</div>
                    </div>
                {{/if}}  
                {{#if input_round1}}
                    <script>
                        document.getElementById("team_modal_xep_hang").style.display = "flex";
                        document.getElementById("team_modal_playnow_room").style.display = "flex";
                        document.querySelector(".Warninground").style.display = "flex";
                        function hideExceed()
                        {
                            document.querySelector(".Warninground").style.display = "none";
                        }
                    </script>
                    <div class="Warninground"> 
                        <i class="fa-solid fa-circle-exclamation" id="exceed_ex1"></i>
                        <div class="inputround">{{input_round1}}</div>
                    </div>
                {{/if}}
            </form>
        </div>

    </div>
    <!-- Leaderboard -->
    <div class="leaderboard" id="ldtest">
        <div class="overlay">

        </div>
        <div class="ldboardbody">
            <div class="ld">
                <h1 class = "ldheader">Bảng xếp hạng</h1>
                <table class="rank" ><a href="#">Trở lại</a>
                    <tr id="lr">
                        <thead class="top1">
                        <th class="top11" id="lr">Xếp hạng</th>
                        <th class="top11" id="lr">Tên tài khoản</th>
                        <th class="top11" id="lr">Rank</th>
                        <th class="top11" id="lr">Điểm</th>
                        </thead>
                    </tr>
                    <tbody>

                    {{#each leaderboard}}
                        <tr class="mem">
                        <th>{{index}}</th>
                        <th id="usr">{{username}}</th>
                        <th>{{rank}}</th>
                        <th>{{multiPoint}}</th>
                    </tr>
                    {{/each}}
                    
                    </tbody>
                    
                </table>
            </div>
            
        </div>
    </div>
    <div class="out-modal-help">
        <div class="modal-help">
            <p class="help">
                *Các chế độ chơi:<br>
                <span style="padding-left: 5vh;">- Chế độ thường:<br></span>
                    <span style="padding-left: 10vh;">+ Để bắt đầu chơi, bạn cần ấn nút "Play" để phát bài nhạc, thời gian sẽ bắt đầu đếm ngược, mỗi bài nhạc sẽ có một lượng thời gian phát nhạc khác nhau. Bạn cần phải trả lời đúng tên bài nhạc đang phát.<br></span>
                    <span style="padding-left: 10vh;">+ Để trả lời thuận tiện và nhanh chóng, bên trái sẽ hiện ra danh sách các bài nhạc gợi ý, bạn chỉ cần click chọn bài hát đó, câu trả lời của bạn sẽ tự động được điền, bạn chỉ cần nhấn "Đoán" để nộp câu trả lời. Trả lời càng nhanh, điểm đạt được sẽ càng cao.<br></span>
                <br>
                <span style="padding-left: 5vh;"></span>- Chế độ xếp hạng:<br></span>
                    <span style="padding-left: 10vh;">+ Bạn có thể gọi mời bạn bè cùng chơi cùng hoặc thách thức cùng người lạ! Bạn cần nhập số vòng chơi (số bài nhạc bạn muốn thách đấu). Bạn có thể tự tạo phòng, tìm kiếm phòng đang có hoặc vào chơi nhanh cùng người lạ.<br></span>
                    <span style="padding-left: 10vh;">+ Ở chế độ chơi này, cách thức chơi giống như ở  “Chế độ thường”. Tuy nhiên, lúc này bạn cần phải tự tay nhập đáp án, trả lời càng nhanh thì điểm đạt được càng cao.<br></span>
                    <span style="padding-left: 10vh;">+ Sau khi kết thúc vòng chơi, ai cao điểm hơn sẽ là người thắng cuộc, số điểm đạt được sẽ tính vào điểm bảng xếp hạng.<br></span>
                    <span style="padding-left: 10vh;">+ Bạn có thể gửi tin nhắn và icon đến người chơi đối diện.<br></span>
                    <span style="padding-left: 10vh;">+ LƯU Ý: Tên bài hát nhập vào cần phải đúng chính tả, các ký tự nhập là các chữ cái La-tinh, các bài nhạc Nhật Bản, Trung Quốc, Hàn Quốc cần nhập tên theo chữ cái La-tinh (tên đã Việt hóa hoặc tên theo phiên âm La-tinh). Các bài hát tiếng Việt cần nhập đúng chính tả!<br></span>
                <br>
                *Cơ chế tính điểm:<br>
                <span style="padding-left: 5vh;"></span>- Xếp hạng: điểm xếp hạng được lấy từ điểm của chế độ MultiPlayer, được phân cấp như sau:<br></span>
                    <span style="padding-left: 10vh;">+ Dưới 1000 điểm: Đồng.<br></span>
                    <span style="padding-left: 10vh;">+Từ 1000 đến dưới 2400 điểm: Bạc. <br></span>
                    <span style="padding-left: 10vh;">+Từ 2400 đến dưới 4000 điểm: Vàng. <br></span>
                    <span style="padding-left: 10vh;">+Từ 4000 đến dưới 6000 điểm: Bạch Kim. <br></span>
                    <span style="padding-left: 10vh;">+Từ 6000 đến dưới 8000 điểm: Kim Cương. <br></span>
                    <span style="padding-left: 10vh;">+Từ 8000 đến dưới 12000 điểm: Ngọc Lục Bảo. <br></span>
                    <span style="padding-left: 10vh;">+Từ 12000 trở lên điểm: Ruby Đỏ. <br></span>
            <span style="padding-left: 5vh;"></span>- Cấp độ: điểm cấp độ nhạn được khi chơi được phân cấp như sau:<br></span>
                    <span style="padding-left: 10vh;">+ Level 1: Điểm dưới 1000.<br></span>
                    <span style="padding-left: 10vh;">+ Level 2: Điểm từ 1000 đến dưới 2000.<br></span>
                    <span style="padding-left: 10vh;">+ Level 3: Điểm từ 2000 đến dưới 5000.<br></span>
                    <span style="padding-left: 10vh;">+ Level 4: Điểm từ 5000 đến dưới 10.000.<br></span>
                    <span style="padding-left: 10vh;">+ Level 5: Điểm từ 10.000 đến dưới 20.000.<br></span>
                    <span style="padding-left: 10vh;">+ Level 6: Điểm từ 20.000 đến dưới 50.000.<br></span>
                    <span style="padding-left: 10vh;">+ Level 7: Điểm từ 50.000 trở lên.<br></span>
                <br>
                *Thêm bài hát: Nếu bạn có mong muốn góp ý bổ sung bài hát. Bạn có thể vào Hồ sơ -> Thêm bài hát, điền thông tin theo form đã đưa ra để đóng góp thêm bài hát cho web nhé! 
                <br>LƯU Ý: người dùng cần nhập đầy đủ thông tin cần thiết như: tên bài hát, tên ca sĩ, đường dẫn của bài hát (nếu có) và thêm 1 đoạn nhạc dài 30 giây đối với bài hát không lời và 15 giây đối với bài hát có lời.<br>
                <br>
                *Help: Nếu bạn có thắc mắc, bạn có thể liên hệ qua gmail king.of.melody.nhom.11@gmail.com để được hỗ trợ nhé!
                <br>
            </p>
        </div>
    </div>
</div>
<div class="wrapper-warning">
    <img src="/assets/img/phone-rotate.png" alt="">
    <div class="warning-content">Xoay ngang màn hình để tiếp tục sử dụng trang web</div>
</div>
    
<script src="/modal_normal_rank.js"></script>
<script>
    function disable(id) {
        let waitbtn = document.getElementById(id);
        waitbtn.disabled = true;
        waitbtn.innerText = "Đang vào phòng ... ";
        return true;
    }
</script>
    
