<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>King of Melody</title>
        <link rel="stylesheet" href="../assets/playweb.css">
        <script src="https://kit.fontawesome.com/d42216d8d0.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="hint">
                <h2>Bài hát gợi ý</h2>
                <div class="hintlist-1">
                    <h3>{{songs.[0].name}}</h3>
                    <p>{{songs.[0].singer}}</p>
                </div>
                <div class="hintlist-2">
                    <h3>{{songs.[1].name}}</h3>
                    <p>{{songs.[1].name}}</p>
                </div>
                <div class="hintlist-3">
                    <h3>{{songs.[2].name}}</h3>
                    <p>{{songs.[2].singer}}</p>
                </div>
                <div class="hintlist-4">
                    <h3>{{songs.[3].name}}</h3>
                    <p>{{songs.[3].singer}}</p>
                </div>
                <div class="hintlist-5">
                    <h3>{{songs.[4].name}}</h3>
                    <p>{{songs.[4].singer}}</p>
                </div>
                <div class="hintlist-6">
                    <h3>{{songs.[5].name}}</h3>
                    <p>{{songs.[5].singer}}</p>
                </div>
                <div class="hintlist-7">
                    <h3>{{songs.[6].name}}</h3>
                    <p>{{songs.[6].singer}}</p>
                </div>
                <div class="hintlist-8">
                    <h3>{{songs.[7].name}}</h3>
                    <p>{{songs.[7].singer}}</p>
                </div>
                <div class="hintlist-9">
                    <h3>{{songs.[8].name}}</h3>
                    <p>{{songs.[8].singer}}</p>
                </div>
                <div class="hintlist-10">
                    <h3>{{songs.[9].name}}</h3>
                    <p>{{songs.[9].singer}}</p>
                </div>
            </div>
            <div class="play-area">
                <div class="info">
                    <div class="round-info">
                        Round<br>
                        <h3>1/10</h3>
                    </div>
                    <div class="player-info">
                        <img src="assets/img/ava-crop.png" alt="">
                        <p>PlayerName</p>
                    </div>
                    <div class="time-info">
                        Time<br>
                        <h3>12:30</h3>
                    </div>
                    
                    </div>
                
                <div class="disc">
                    {{!-- <audio src="data:audio/mpeg;base64,{{curSong.content}}" id="audio" autoplay controls></audio> --}}
                    <img src="assets/img/dianhac2.png" class="discimg" alt="disc">
                    
                    <div class="btn">
                        <div><input type="range" value="0" id="progress"></div>
                        
                        <div id="progress-control">
                            <div><i class="fa-solid fa-backward"></i></div>
                            <div class="btn-play-pause"><i class="fa-solid fa-play"></i></div>    
                            <div><i class="fa-solid fa-forward"></i></div>
                        </div>
                    </div>
                    
                </div>
                <div class="answer">
                    <input type="text" placeholder="Nhập tên bài hát">
                    <button>Đoán</button>
                </div>
            </div>
        </div>
        <input type="hidden" id="songsInput" data-songs="{{curSong}}">
        <script src="/playsingle.js"></script>
            {{!-- const audio = new Audio("data:audio/ogg;base64,{{curSong.content}}");
            function play() {
            audio.play();
            }
        </script> --}}
    </body>
</html>